ul li label {
  color: blue;
}

.boton-filtrar {
  background-color: white;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  color: var(--textos);
}

.boton-filtrar i {
  margin-right: 5px;
}

.barra-paso {
  display: flex;
  justify-content: space-between;
  background-color: var(--fondo-Menu);
  flex-direction: row;
  align-items: center;
}

/*.barra-ladoizquierdo {



}
*/

.barra-ladoderecho {
  margin-right: 10px;

}

.boton-inicio {
  background-color: var(--gris-claro);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  cursor: pointer;
  float: right;
}

.boton-inicio:hover {
  color: var(--textos);
}

.carteles div {
  width: 400px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  text-align: center;
}



/* aplico los colores, segun los hijos del div de los carteles*/

.carteles div:first-child {
  background-color: var(--mensaje-usuario-verde);
}

.carteles div:nth-child(2) {
  background-color: var(--mensaje-usuario-rojo);
}

.carteles div:nth-child(3) {
  background-color: var(--mensaje-usuario-amarillo);
}

.agregar-informe-boton {
  background-color: var(--gris-claro);
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}

.agregar-informe-boton:hover {
  color: var(--textos);
}


/* ajustes para los resumenes */


.main-resumen {
  display: flex;
}



.resumenes {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 15px;
  width: 184px;
  height: 70px;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 12px;
}

/* color de los parrafos de las tarjetas*/

.resumenes div p {
  color: white;
}


.titulo-resumen {
  font-weight: bold;
}

/* color de las tarjetas en orden segun sus hijos */

.resumenes:first-child {
  background-color: var(--celeste);
}

.resumenes:nth-child(2) {
  background-color: var(--magenta);
}

.resumenes:nth-child(3) {
  background-color: var(--morado);
}


/*barra de datos y progreso*/


.datos {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  gap: 15px;
}

/* posicion de los resumenes y barras */

.agrupaciones-container,
.mapa,
.chart-wrap {
  border-radius: 25px;
  border: 1px solid var(--borde-Grilla);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 5px;
  flex-grow: 1;
  width: 30%;
}

/* ajuste para el texto agrupado de los graficos */

.texto-contenido p {
  font-size: 11px;
  color: var(--textos);
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

/* ajuste para los titulos de las barras */

.agrupacion h3 {
  text-align: start;
  margin-left: 5px;
}

/* ajuste para los textos dentro de los cuadros */

.texto-contenido {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.texto-contenido h3 {
  font-size: 12px;
  font-weight: bold;
}


.texto-contenido p {
  font-size: 11px;
  color: var(--textos);
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

/* texto precargado en el pdf */



.chart-wrap {
  --chart-width: 260px;
  --grid-color: #aaa;
  --bar-thickness: 25px;
  --bar-rounded: 3px;
  --bar-spacing: 10px;
  font-family: sans-serif;
  width: var(--chart-width);
}

.chart-wrap .title {
  font-weight: bold;
  padding: 1.8em 0 2.8em;
  text-align: center;
  white-space: nowrap;
}

/* cuando definimos el gráfico en horizontal, lo giramos 90 grados */
.chart-wrap.horizontal .grid {
  transform: rotate(-90deg);
}

.chart-wrap.horizontal .bar::after {
  /* giramos las letras para horizontal*/
  transform: rotate(45deg);
  padding-top: 0px;
  display: block;
}

.chart-wrap .grid {
  margin-left: 50px;
  position: relative;
  padding: 5px 0 5px 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid var(--grid-color);
  font-size: 10px;
}

/* posicionamos el % del gráfico*/

.chart-wrap .grid::before {
  font-size: 0.8em;
  font-weight: bold;
  content: '0%';
  position: absolute;
  left: -0.5em;
  top: -1.5em;
}

.chart-wrap .grid::after {
  font-size: 0.8em;
  font-weight: bold;
  content: '100%';
  position: absolute;
  right: -1.5em;
  top: -1.5em;
}

/* giramos las valores de 0% y 100% para horizontal */

.chart-wrap.horizontal .grid::before,
.chart-wrap.horizontal .grid::after {
  transform: rotate(90deg);
}

.chart-wrap .bar {
  width: var(--bar-value);
  height: var(--bar-thickness);
  margin: var(--bar-spacing) 0;
  background-color: var(--bar-color);
  border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover {
  opacity: 0.7;
}

.chart-wrap .bar::after {
  content: attr(data-name);
  margin-left: 100%;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
}



















.progress {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.progress-bar {
  height: 100%;
  display: flex;
  align-items: center;
  transition: width 0.25s;
  border-radius: 5px;
}

.progress-bar-text {
  margin-left: 10px;
  font-weight: bold;
  color: var(--textos);
  font-size: 9px;
}